*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background: #0d2009;
  font-family: ui-monospace, monospace;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}

#bug {
  pointer-events: none;
}